.wrapper {
  display: grid;
  grid-template-columns: 20px 1fr;
  grid-template-areas: 
  'input text'
  'message message';
  width: fit-content;
  gap: 5px 8px;
	align-items: center;
}

.input {
  box-sizing: border-box;
  padding: 0;
	margin: 0;
	width: fit-content;
	transition: 0.3s;
	background-color: transparent;
	border: 1px solid var(--accent-slate-grey);
	border-radius: 5px;
	outline: none;
	width: 20px;
  height: 20px;
	cursor: pointer;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  appearance: none;
}

.input__text {
	grid-area: text;
  width: fit-content;
	font-size: 17px;
	cursor: pointer;
}

.input:focus {
	border-color: var(--accent-light-blue);
}

.input:checked {
  background-image: url('../../public/images/icons/checkbox-checked.svg');
}


.input::placeholder {
	font-family: inherit;
	font-size: 17px;
	font-weight: 400;
	line-height: 23px;
}

.input_type_number::-webkit-outer-spin-button,
.input_type_number::-webkit-inner-spin-button {
  appearance: none;
  margin: 0;
}

.input_type_number[type='number'] {
  appearance: textfield;
}

.message {
  grid-area: message;
	box-sizing: border-box;
	padding: 0 0 0 10px;	
	font-weight: 400;
	vertical-align: middle;
	font-size: 14px;
	min-height: 20px;
	line-height: 14px;
	color: red;
}
