.form {
	display: flex;
	flex-direction: column;
	width: 100%;
	gap: 30px;
}

.form__container {
	position: relative;

	display: flex;
	flex-direction: column;
	gap: 5px 0;
	margin: 0;
	padding: 0;

	border: none;
}

.form__legend {
	font-size: 25px;
	font-weight: 600;
}

.form__responseMessage {
	box-sizing: border-box;
	padding: 0 0 0 10px;	
	color: green;
	font-weight: 400;
	vertical-align: middle;
	font-size: 14px;
	min-height: 20px;
	line-height: 14px;
}

.form__responseMessage_err {
	color: red;
}
